<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <configurator type="Sitecore.Publishing.Service.PublishingServiceConfigurator, Sitecore.Publishing.Service" >
        <patch:attribute name="type">Sitecore.Support.Publishing.Service.PublishingServiceConfigurator, Sitecore.Support.38792</patch:attribute>
      </configurator>
    </services>
  </sitecore>
</configuration>